.index-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .content-wrapper {
    display: flex;
    flex: 1;
    .property-wrapper {
      width: 300px;
    }
    .canvas-wrapper {
      flex: 1;
    }
  }
}
